
SELECT * FROM cq.Store_Flavor
SELECT * FROM cq.Flavor_Loot
SELECT * FROM cq.Recipe_Loot
SELECT * FROM cq.Location_Loot
SELECT * FROM cq.Store_Equipment
SELECT * FROM cq.Player_Loot
SELECT * FROM cq.Player_Location
SELECT * FROM cq.Player_Equipment
SELECT * FROM cq.Store
SELECT * FROM cq.Flavor
SELECT * FROM cq.Recipe
SELECT * FROM cq.Loot
SELECT * FROM cq.Location
SELECT * FROM cq.Equipment
SELECT * FROM cq.Account
SELECT * FROM cq.Player

